@model ToutesLesFormationsViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>Ceci est une vue Ibra</p>
<p>@Model.Message</p>
<p>Ceci est la valeur passée : @Model.Nombre</p>

